.bg {
  background-image: linear-gradient(
      105.19deg,
      rgba(15, 15, 15, 0.86) 13.06%,
      rgba(0, 0, 0, 0.75) 95.52%
    ),
    url("../../../public/assets/bg_images/hearoBG.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
}
 
.header{
  font-weight: 600;
  font-size: 5rem;
  color: #FFFFFF;
  line-height: 60px;
}
.contenttext{
color: #FFFFFF;
font-size: 400;
font-size: 1.4rem;

}

.custom_scrollbar::-webkit-scrollbar {
  width: 5px;
}

.custom_scrollbar::-webkit-scrollbar-thumb {
  background-color: #66C1BF; /* Color of the thumb */
  border-radius: 4px;
  width: 10px;
}

.custom_scrollbar::-webkit-scrollbar-track {
  background-color:transparent;
}