@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Montserrat:wght@600&family=Poppins:wght@400;600;700&display=swap');


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  font-family: 'Poppins', sans-serif;
}



.theme_bg {
  background-color: #263138;
  width: 100%;
  height: 100%;
}

.homePage_contaniner {
  max-width: 1220px;
  margin: 0 auto;
  padding-top: 4rem;
  padding-bottom: 4rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.css-6hp17o-MuiList-root-MuiMenu-list {
  background-color: "#0f4c81" !important;
}

@media screen and (max-width: 992px) {
  .homePage_contaniner {
    padding-top: 2rem;
  }
}
/* For Webkit-based browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 1px; /* Adjust the width of the scrollbar */
}

::-webkit-scrollbar-track {
  background-color: transparent; /* Set the background color of the scrollbar track */
}

::-webkit-scrollbar-thumb {
  background-color: #88888800; /* Set the color of the scrollbar thumb */
}

/* For Firefox */
/* You may need to use vendor prefixes for older versions of Firefox */

