@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {

 
}

/* For WebKit-based browsers */
body::-webkit-scrollbar {
  padding-right: 25px;
  width: 5px; /* Width of the scrollbar */
}

body::-webkit-scrollbar-thumb {
  background-color: #66C1BF; /* Color of the thumb */
  border-radius: 4px; /* Rounded corners of the thumb */
}

body::-webkit-scrollbar-track {
  background-color: #fff; /* Color of the track */
}

.bg{
  /* background-image: linear-gradient(to right, rgb(0 0 0 / 78%) 37%, #0000003d 83%), url('../../public/assets/bg_images/bg1.svg'); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
 height: auto;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth; /* 1rem = 10px; 10px/16px = 62.5% */
}

/* Media query for larger screens */
@media (min-width: 768px) {
  html {
    font-size: 75%; /* 1rem = 12px; 12px/16px = 75% */
  }
}

/* Media query for even larger screens */
@media (min-width: 992px) {
  html {
    font-size: 87.5%; /* 1rem = 14px; 14px/16px = 87.5% */
  }
}

/* Media query for extra large screens */
@media (min-width: 1200px) {
  html {
    font-size: 100%; /* 1rem = 16px; 16px/16px = 100% */
  }
}



