.heading {
  font-size: 24px;
  font-weight: 400;
  color: #ffd500;
  text-align: center;
  font-family: "Montserrat";
}
.heading2 {
  text-align: center;
  font-family: "Poppins";
  font-size: 3rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
  color: #fff;
}
.sub_heading {
  color: #fff;
  font-family: "Poppins";
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
}

.shadow_card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10rem;
  border-radius: 8px;
  background: linear-gradient(to bottom, #171d21, 50%, #1f1d2100);
  min-height: 10rem;
}
.card_heading {
  text-align: center;
  font-family: "Poppins";
  font-size: 1.9rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
  color: #fff;
}

.shadow_card_cont{
  width: 15rem;
  height: 35rem;
}
.mob_hide{
  display: block;
}
@media screen and (max-width: 992px) {
  .mob_hide{
    display: none;
  }
  .shadow_card_cont{
    width: 100%;
    height: 100%;
  }
  .heading2{
    font-size: 2rem;
      }
}