@import url("https://fonts.googleapis.com/css2?family=Inter&family=Montserrat:wght@500&family=Poppins:wght@400;600;700&display=swap");

.container {
  display: flex;
  justify-content: space-between;
}
.main_container {
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #0f4c81 0%, rgba(0, 31, 57, 0.8) 80%);
  box-shadow: 0px 23px 60px 4px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  padding: 1rem 2.5rem;
}

.nav_text {
  font-family: "Montserrat";
  font-size: 1.5rem;
  color: #fff;
  opacity: 0.75;
  text-decoration: none;
  cursor: pointer;
}
.web_views {
  display: flex;
  margin-top: 0.4rem;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}
.perfect_text {
  font-size: 2.5rem;
  text-align: center;
  margin-top: 8px;
  font-weight: 400;
}
.kiosk_text {
  font-size: 1.3rem;
  color: #e9c406;
  font-family: "Copperplate Gothic Bold";
  font-weight: 400;
  line-height: 10px;
}
.mob_view {
  display: none;
}
.menu_container{
  display: none;
}
@media screen and (max-width: 992px) {
  .mob_view {
    display: block;
    margin-top: 0.8rem;
  }

  .nav_text {
    font-size: 1rem;
  }
  .web_views {
    display: none;
    background-color: red;
  }
  .perfect_text {
    font-size: 1.7rem;
  }
  .kiosk_text {
    .kiosk_text {
      font-size: 0.8rem;
    }
  }
  .menu_container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    text-align: center;
    padding: 5px;

  }
  .mob_menus{
    font-size: 1.4rem;
    text-transform: capitalize;
    padding-top: 8px;
    text-decoration: none;
    color: #fff;
  }
}

