@import url("https://fonts.googleapis.com/css2?family=Inter&family=Montserrat:wght@400&family=Poppins:wght@400;600;700&display=swap");

.container {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  min-width: 20rem;
  max-width: 20rem;
  input {
    background-color: #263138;
    border-radius: 8px;
    padding: 10px 20px;
    outline: none;
    width: 100%;
  }
}

@media screen and (max-width: 992px) {
  .container {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    min-width: 19rem;
    max-width: 320px;
    max-width: 18rem;
    input {
      background-color: #263138;
      border-radius: 5px;
      padding: 10px 20px;
      outline: none;
    }
  }

}