.shadow_container {
  min-height: 25rem;
  max-width: 20rem;
  align-items: flex-end;
  display: flex;
  width: 100%;
  animation: ease-in-out;
}

.container {
  width: 100%;
  border-radius: 8px;
  background: linear-gradient(to right, #002640, 50%, #1f1d2100);
  min-height: 30rem;
  position: relative;
  padding: 10px 20px;
  margin-top: 10rem;
  min-width: 300px;
  margin-right: 1.5rem;
}
.img_cont {
  position: absolute;
  top: -30%;
  right: -20%;
  color: #fff;
}

.content_cont {
  position: absolute;
  bottom: 0%;
  left: 15%;
  h2 {
    color: #295891;
    font-size: 2rem;
    font-weight: bold;
  }
}

.shadow_container:hover {
  animation: scaling 1s forwards ease-in-out;
  cursor: pointer;
}

@keyframes scaling {
  0% {
    scale: 1.05;
  }
  100% {
    scale: 1;
  }
}
