.shadow_container {
  min-height: 25rem;
  max-width: 20rem;
  align-items: flex-end;
  display: flex;
  width: 100%;
}

.container {
  width: 100%;
  border-radius: 8px;
  background: linear-gradient(to right, #002640, 50%, #1f1d2100);
  min-height: 30rem;
  position: relative;
  padding: 10px 20px;
  margin-top: 6rem;
}
.img_cont {
  position: absolute;
  top: -30%;
  right: -20%;
  color: #fff;
}

.content_cont {
  position: absolute;
  bottom: 0%;
  left: 15%;
  h1 {
    color: #295891;
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 992px) {
  .shadow_container {
    min-height: 40rem;
  }
  .container {
    min-width: 250px;
  }
}
