@import url("https://fonts.googleapis.com/css2?family=Inter&family=Montserrat:wght@400&family=Poppins:wght@400;600;700&display=swap");


.container {
  background-color: #e9c406;
  color: #000;
  font-weight: 500;
  border-radius: 10px;
  padding: 0.8rem 1rem;
  text-align: center;
  font-size: 1.3rem;
  min-width: 10rem;
  cursor: pointer;
  text-align: center;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
}
